extends layout

block content

  style.
    html, body {
      height: 100%;
    }
    #map {
      height: 100%;
    }

  .container-fluid(style='height:100%;')
    .row(style='height:100%;')
      .col-md-3.sidebar

        img.img-responsive(src='/logo.png')

        p.tagline Discover what your customers are feeling.

        form.form-horizontal
          .form-group
            label.col-sm-3.control-label(for='what') what
            .col-sm-9
              input#what.form-control(type='text', placeholder='e.g. Olympics')
          .form-group
            label.col-sm-3.control-label(for='where') where
            .col-sm-9
              input#where.form-control(type='text', placeholder='Rio')

          button.btn.btn-default(type='submit', data-toggle="modal" data-target="#info") Find it!

        a.existing.collapsed(role='button', data-toggle='collapse', href='#more', aria-expanded='false', aria-controls='more')
          | Existing terms

        #more.collapse
          p
            a(href="?q=trump")
              | Trump

          p
            a(href="?q=rio%2Colympics")
              | Rio Olympics

        .circles.clearfix
          h2.stats-header Stats
          .circle.pos.smallCirc
          .circle.neu.smallCirc
          .circle.neg.smallCirc

      .col-md-9(id='map')

  #info.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Contact Us
        .modal-body
          | Interested in <em>spot_hype</em> for your business or organisation? <a href="mailto:omnidatum.team@gmail.com">Drop us a line!</a>
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') OK

  script(type='text/javascript').
    var data = !{JSON.stringify(tweets)};
    var q = "#{query}";

  script(src='/javascripts/script.js')

  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAwHWDmqeO0Z1w0jtIB_jmyHM0J-jRfGkU&libraries=visualization&callback=initMap', async='', defer='')
